<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="__PUBLIC__/Outward/Inward/css/membercenter.css" rel="stylesheet"/>
    <link href="__PUBLIC__/Common/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/Common/js/jquery.js"></script>
</head>

<body ng-app="myapp">
    <div class="dropdown">
               <p class="btn dropdown-toggle" id="dropdownMenu1" 
                  data-toggle="dropdown">
                  {$_SESSION['user']}
                  <span class="caret"></span>
               </p>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="{:U('Home/User/index','','')}">个人中心</a>
                  </li>
                  <li role="presentation">
                     <a id="signout" role="menuitem" tabindex="-1" href="#">退出</a>
                  </li>
               </ul>
    </div>
    <div class="col-md-12" id="top">
        <div class="col-md-10" id="site_title">
            <h1>PC System Discuss Center</h1>
            <br/>
            <p>计算机系统研发中心</p>
        </div>
        <div class="col-md-12" id="top_menu">
            <ul>
                <li><a href="{:U('Home/Inward/index','','')}">主页</a></li>
                <li><a href="{:U('Home/Inward/chat','','')}">聊天室</a></li>
                <li><a href="{:U('Home/Inward/posts','','')}">发帖区</a></li>
                <li><a href="{:U('Home/Inward/files','','')}">学习文件</a></li>
                <li><a href="#" class="current">成员中心</a></li>
                <li style="float:right;"><a href="#">建议/投诉</a></li>
                <li style="float:right;"><a href="{:U('Home/Main/index','','')}">外网页</a></li>
            </ul>       
        </div>
    </div>

    <div class="col-md-12" style="padding:0 2% 0 2%;">
        <div id="content" class="col-md-12">
            <h4><img src="__PUBLIC__/Outward/Inward/images/templatemo_list.png" >&nbsp;&nbsp;历届成员一览表</h4>
            <div class="hr_divider col-md-12"></div>
            
            <div class="col-md-12 clear">
                <h5><img src="__PUBLIC__/Outward/Inward/images/templatemo_list.png" >&nbsp;&nbsp;2011级</h5>
            </div> 
            <div class="col-md-12 clear"></div>
            <div class="memberlist col-md-10">
                <p class="memeber">胡化东（主席）</p>
            </div>

            
            <div class="col-md-12 clear">
                <h5><img src="__PUBLIC__/Outward/Inward/images/templatemo_list.png" >&nbsp;&nbsp;2012级</h5>
            </div>
            <div class="memberlist col-md-10">
                    <p class="memeber">马继康（主席）</p>
                    <p class="memeber">贺翔宇</p>
                    <p class="memeber">彭瑞</p>
                    <p class="memeber">殷咏</p>
                    <p class="memeber">张昊</p>
                    <p class="memeber">陈强</p>
            </div>


            <div class="col-md-12 clear">
                <h5><img src="__PUBLIC__/Outward/Inward/images/templatemo_list.png" >&nbsp;&nbsp;2013级</h5>
            </div>
            <div class="memberlist col-md-10">
                    <p class="memeber">莫嘉宇（主席）</p>
                    <p class="memeber">杲统飞</p>
                    <p class="memeber">孙爱民</p>
                    <p class="memeber">裴浩然</p>
                    <p class="memeber">周言壹</p>
            </div>


            <div class="col-md-12 clear">
                <h5><img src="__PUBLIC__/Outward/Inward/images/templatemo_list.png" >&nbsp;&nbsp;2014级</h5>
            </div>
            <div class="memberlist col-md-10">
                    <p class="memeber">武杲（主席）</p>
                    <p class="memeber">陆阳</p>
                    <p class="memeber">陈海涛</p>
                    <p class="memeber">张功廷</p>
                    <p class="memeber">赵益石</p>
                    <p class="memeber">张伊伦</p>
                    <p class="memeber">范如</p>
                    <p class="memeber">张万云</p>
            </div>

        </div>
    </div>
    
    <div id="footer" class="col-md-12">
        
             版权信息
             
    </div>


<script src="__PUBLIC__/Common/js/jquery-2.1.4.min.js"></script>
<script src="__PUBLIC__/Common/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Common/js/angular.min.js"></script>
<script>
  angular.module("myapp",[])
  .controller("firstController",['$scope',function($scope){
     
  }])
</script>
<script>
    //退出
    $(function(){
            $("#signout").click(function(){
                if (confirm("确定退出管理界面？？")) {
                     $.post("{:U('Home/Inward/signout','','')}",{
                          
                      },function(data){
                        if (data==1) {
                            window.location.href="{:U('Home/Main/index','','')}";
                        }
                        else{
                            alert("服务器正忙");
                        }
                    })
                };
                return false;
            })
        })
</script>
</body>
</html>