body{
	float: left;
	width: 100%;
	background: url(../images/background.jpg) no-repeat top center;
	background-size: 100% auto;
	background-attachment: fixed;
}



#contain{
	margin-top: 80px;
}

#left{
}


		#outward{
			height: 180px;
			background: url(../images/outward.jpg) no-repeat;
			background-size: 100% 100%;
		}

				#outward p{
					font-family: 微软雅黑;
					font-size: 1.2em;
					color: whitesmoke;
					margin-top: 130px;
					font-weight: bold;
				}

		#user{
			height: 200px;
			background-color: rgba(193,61,18,0.8);
			text-align: center;
			font-size: 1.2em;
			padding-top: 30px;
			color: whitesmoke;
			font-family: 微软雅黑;
			font-weight: bold;
		}

		#user span{
			font-size: 4em;
		}



		#advise{
			height: 200px;
			background-color: rgba(107,181,34,0.8);
			text-align: center;
			font-size: 1.2em;
			padding-top: 30px;
			color: whitesmoke;
			font-family: 微软雅黑;
			font-weight: bold;
		}

		#advise span{
			font-size: 4em;
		}

		#demand{
			height: 250px;
			background: url(../images/demand.jpg) no-repeat;
			background-size: 100% 100%;
		}

			#demand p{
				text-align: right;
				margin-top: 210px;
				font-family: 微软雅黑;
				font-size: 1.4em;
				font-weight: bold;
				color: #333;
			}

#right{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

		#chat{
			height: 280px;
			background: url(../images/chat.jpg) no-repeat;
			background-size: 100% 100%;
			margin-bottom: 10px;
		}

			#chat p{
				font-size: 1.5em;
				font-family: 微软雅黑;
				font-weight: bold;
				color: #333;
				margin:10px;
			}


		#post{
			height: 550px;
			background: url(../images/post.jpeg) no-repeat;
			background-size: 100% 100%;
			margin-bottom: 10px;
		}

			#post p{
				font-size: 1.5em;
				font-family: 微软雅黑;
				font-weight: bold;
				color: #333;
				margin:10px;
			}

		#other{
			height: 300px;
			background-color: red;
			background: url(../images/other.jpg) no-repeat;
			background-size: 100% 100%;
		}

			#post p{
				font-size: 1.5em;
				font-family: 微软雅黑;
				font-weight: bold;
				color: #333;
				margin:10px;
			}

		#member{
			height: 300px;
			background: url(../images/member.jpg) no-repeat;
			background-size: 100% 100%;   
			margin-bottom: 10px;
		}

			#member p{
				font-size: 1.5em;
				font-family: 微软雅黑;
				font-weight: bold;
				color: whitesmoke;
				margin-top:5px;
			}

		#data{
			height: 550px;
			background: url(../images/data.jpg) no-repeat;
			background-size: 100% 100%;
		}

			#data p{
				font-size: 1.5em;
				font-family: 微软雅黑;
				font-weight: bold;
				color: #333;
				margin:10px;
			}

