body{
	width: 100%;
	margin:0px;
	padding: 0px 10% 0px 10%;
	background-image: url(../images/postbg.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.row{
	margin:0px;
	padding:0px;
}

/*** top  **************************************/

#top{
	height: auto;
	margin-top: 50px;
}

	
	#site_title h1 {
		margin: 0;
		padding: 0;
		color: #297ed8;
		font-family: Tahoma, Geneva, sans-serif;
	}

	 #site_title p {
		font-size: 1.5em;
		color: #edecec;
		font-weight: normal;
		text-decoration: none;
		font-family: 幼圆;
		font-weight: bold;
		margin-left: 5%;
	}



	#top_menu{
		height: 51px;
		background-image: url(../images/tempatemo_menu.png);
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 10px;
	}


	#top_menu ul{
		width: 93%;
		margin :0 3% 0 3%;
		list-style: none;
		padding: 0px;
	}

	#top_menu ul>li{
		padding: 0;
		margin: 0;
		width: 10%;
		margin-top: 13px;
		float: left;

	}

	#top_menu ul li a {
		text-align: center;
		display: block;
		font-size: 13px;
		height: 30px;
		color: whitesmoke;	
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		outline: none;
		padding: 5px;
	}

	#top_menu ul li a:hover, #top_menu ul .current {
	color: #fff;
	background-image: url(../images/templatemo_menu_hover.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/*** end of top  ****/

#content{
	height: auto;
	padding-left:5%;
	padding-right:5%;
	padding-bottom: 80px;
	background-image: url(../images/templatemo_content.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
}


		#content  h3.title{
			font-size: 1.5em;
			color: rgb(89, 170, 255);
			margin-top: 15px;
			font-family: 微软雅黑;
			font-weight: bold;
			letter-spacing: 2px;
		}


		#firstcomment{
			margin:0 0 20px 0;
			padding: 10px;
			border: 1px dashed rgba(255,255,255,0.5);
		}


		#userimg{
			min-height: 200px;
			padding: 0px;
			margin: 0px;
			text-align: center;
		}

		#userimg > img{
			width: 60%;
			border-radius: 4px;
		}

		#userimg > p.username{
			padding: 0px;
			margin: 20px 0 0 0;
			color: white;
			font-size: 1.1em;
			font-family: 微软雅黑;
			font-weight: 500;
		}

		#usercomment{
			height: auto;
			border-left: 1px dashed rgba(247,248,250,0.15);
			margin:0px;
			padding: 0px;
		}

		#usermessage{
			min-height: 180px;
			color: white;
			font-family: 微软雅黑;
			font-size: 1.15em;
			text-indent: 2em;
		}


		#others{
			height: auto;
			float: right;
			color: whitesmoke;
			text-align: right;
			font-size: 0.9em;
		}

				#others span.glyphicon{
					cursor: pointer;
				}

				#others span.glyphicon:hover{
					font-size: 1.2em;
				}

				#others span.good{
					margin: 0 2% 0 0;
				}

				#others span.time{
					margin: 0 2% 0 0;
				}

				#others span.lookcomment{
					margin: 0 2% 0 0;
					cursor: pointer;
				}

				#others span.lookcomment:hover{
					text-decoration: underline;
					cursor: pointer;
				}

				#others span.firstreply{
					margin: 0 2% 0 0;
					cursor: pointer;
					color: white;
				}

				#others span.firstreply:hover{
					text-decoration: underline;
					cursor: pointer;
					color: white;
				}

				#others span.reply{
					margin: 0 2% 0 0;
					cursor: pointer;
				}

				#others span.reply:hover{
					text-decoration: underline;
					cursor: pointer;
				}

				#others > .newcomment{
					float: right;
					margin:5px 0 5px 0;
					display: none;
				}

				#others > .newcomment >textarea{
					width: 80%;
					height: 40px;
					margin-left: 10%;
					float: left;
				}

				#others > .newcomment >button{
					float: left;
					margin:10px 0 0 1%;
					padding: 3px 2% 3px 2%;
				}

		#secondcomment{
			float: right;
			height: auto;
			background-color: rgba(255,255,255,0.05);
			border: 1px solid rgba(255,255,255,0.1);
			margin:0px;
			padding: 0px;
		}

		#onesecondcomment{
			height: auto;
			margin:0;
			padding: 10px 0 10px 1%;
			border-bottom: 1px solid rgba(255,255,255,0.1)
		}
				#secondimg{
					padding: 0px;
				}

				#secondimg >img{
					width: 100%;
					border-radius: 4px;
				}

				#secondmessage{
					margin:0 0 0 3%;
					padding: 0px;
					font-size: 1em;
				}

				#secondmessage p.message{
					color: whitesmoke;
					font-size: 1em;
					margin:0px;
				}

				#secondmessage span.username{
					color: white;
					margin: 0 2% 0 0;
				}

				#secondmessage span.replys{
					color: rgb(89, 170, 255);
					margin: 0 2% 0 0;
				}

				#secondother{
					height: auto;
					float: right;
					margin:5px 5% 0 0 ;
					padding: 0px;
					font-size: 0.9em;
					color: white;
					text-align: right;
				}


				#secondother span.glyphicon{
					cursor: pointer;
				}

				#secondother span.glyphicon:hover{
					font-size: 1.2em;
				}

				#secondother span.good{
					margin: 0 2% 0 0;
				}

				#secondother span.time{
					margin: 0 2% 0 0;
				}

				#secondother span.reply{
					margin: 0 2% 0 0;
					cursor: pointer;
				}

				#secondother span.reply:hover{
					text-decoration: underline;
					cursor: pointer;
				}

				#secondother > .newcomment{
					float: right;
					margin:5px 0 5px 0;
					padding: 0px;
					display: none;
				}

				#secondother > .newcomment >textarea{
					width: 80%;
					height: 35px;
					margin-left: 8%;
					float: left;
				}

				#secondother > .newcomment >button{
					float: left;
					margin:10px 0 0 1%;
					padding: 2px 2% 2px 2%;
				}



	#newfirstcomment{
		height: auto;
		padding: 0px;
		margin:30px 0 0 0;
	}

		#newfirstcomment h3{
			color: rgb(89, 170, 255);
			margin:0 0 10px 0;
			padding: 0px; 
			letter-spacing: 3px;
		}

		#newfirstcomment h4{
			color: white;
		}

		#newfirstcomment button{
			margin:10px 0 0 0;
			font-weight: bold;
			background-color: rgb(89, 170, 255);
			color: white;
			border: 1px solid rgba(0,0,0,0.2);
			letter-spacing:2px;
		}


		
.hr_divider {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background: url(../images/templatemo_hr_divider.png) bottom repeat-x;	
}




/* footer */

#footer {
	
	padding: 10px;
	text-align: center;
	color: #755e96;
}

#footer a {
	color: #755e96;
}

/* end of footer */